div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnWrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 90px;
    height: 40px;
    color: #D38E03;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px black;
    transition: all .2s ease;
}
.btnGreen,
.btnRed,
.btnOrange,
.btnBlueWait,
.btnBlue {
    color: #fff;
}
.btnGreen {
    background: green;
}
.btnGreen:hover {
    background: #249116;
}
.btnBlue {
    background: #3271CA;
}
.btnBlue:hover {
    background: #4981E7;
}
.btnBlueWait {
    background: #3271CA;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.btnOrange {
    background: #DB9303;
}
.btnOrange:hover {
    background: #E7A109;
}
.btnRed {
    background: #AC0000;
}
.btnRed:hover {
    background: #C10000;
}